@import "https://bootswatch.com/4/cerulean/bootstrap.min.css";

.show {
    display: block;
}

.App {
    display: flex;
    flex-flow: row nowrap;
}

.App section {
    width: 50%;
    height: inherit;
}